nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 10px 20px;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 15px;
}
nav a:hover{
    background-color: darkgrey;
}